/*!******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles.css ***!
  \******************************************************************/

html, body {

margin: 0;
background-color: rgb(65, 111, 172);

}

img{
    width: 350px
}


